<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Romaine" %></title>
    <!-- favicon -->
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- script -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= stylesheet_link_tag "bootstrap.min", "styles" %>
    <%= javascript_include_tag  "bootstrap.min", "jquery.bootstrap-autohidingnavbar", "bootbox.min", "script" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>